<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>TechTriad Bot</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="icon"  href="/static/css/img3.png" />

</head>
<body>
  <div class="container">
    <!-- <h1> TechTriad Bot</h1> -->
     <img src="/static/css/img4.png" alt="image" >
    <div class="input-group">
      <input type="text" id="question" placeholder="Hey i'm your bot ask a question..." />
      <button onclick="askQuestion()">Ask</button>
    </div>
    <div id="loader" class="loader hidden"></div>
    <div id="response"></div>
    <div id="feedback-buttons" class="hidden">
      <button onclick="sendFeedback(true)">👍 Like</button>
      <button onclick="sendFeedback(false)">👎 Dislike</button>
    </div>
  </div>

  
  <script src="/static/js/app.js"></script>
</body>
</html>
